<div class="row">
    <div class="col-xsm-12 col-sm-4">
        <div class="thumbnail sensorContainer">
            <div id="attitudeSensor"></div>
            <div class="caption">
                <h3>Attitude</h3>
                <div class="input-group">
                    <input name="pitch" type="text" class="form-control" placeholder="Pitch" aria-describedby="pitchAddon">
                    <span class="input-group-addon" id="pitchAddon">Degrees</span>
                    <input name="roll" type="text" class="form-control" placeholder="Roll" aria-describedby="pitchAddon">
                    <span class="input-group-addon" id="pitchAddon">Degrees</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xsm-12 col-sm-4">
        <div class="thumbnail sensorContainer">
            <div id="headingSensor"></div>
            <div class="caption">
                <h3>Heading</h3>
                <div class="input-group">
                    <input name="heading" type="text" class="form-control" placeholder="Heading" aria-describedby="pitchAddon">
                    <span class="input-group-addon" id="pitchAddon">Degrees</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xsm-12 col-sm-4">
        <div class="thumbnail sensorContainer">
            <div id="altitudeSensor"></div>
            <div class="caption">
                <h3>Altitude</h3>
                <div class="input-group">
                    <input name="altitude" type="text" class="form-control" placeholder="Altitude" aria-describedby="pitchAddon">
                    <span class="input-group-addon" id="pitchAddon">cm</span>
                    
                </div>
            </div>
        </div>
    </div>
</div>